<!-- Start your project here-->

    <nav class="navbar navbar-expand-lg navbar-dark " style="font-size: 30px;padding:20px;  background-color: tomato">
        <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand" ui-sref="app.home" style="font-size: 36px; color: yellow;border: solid 2px; border-radius: 20px">Smart Shop</a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav" style="border: solid 1px;">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" >
                    <a class="nav-link" ui-sref="app.home">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item"  >
                    <a class="nav-link" ui-sref="app.store">Store</a>
                </li>
                <li class="nav-item"  >
                    <a class="nav-link" ui-sref="app.forum">Forum</a>
                </li>
                <li class="nav-item"  >
                    <a class="nav-link" ui-sref="app.contact">Contact Us</a>
                </li>

                <li class="nav-item">
                  <a> <i class="fas fa-shopping-cart fa-lg white-text pr-3" style="margin-top: 15px;margin-left: 50px;"></i>
                  </a></li>
            </ul>
            <!-- Links -->
            <form class="form-inline" style="font-size: 30px; background-color: tomato">
                <div class="md-form my-0">
                    <input class="form-control mr-sm-2" type="text" ng-model="x" placeholder="Search" aria-label="Search" style="font-size: 30px">
                </div>
            </form>
        </div>
        <!-- Collapsible content -->
        </div>

    </nav>
    <!--/.Navbar-->

<section class="container-fluid" style="margin-top:0px">
    <div ui-view="sub"></div>
</section>
    <!-- Footer -->
    <footer class="page-footer font-small mdb-color lighten-3 pt-4" style="margin-top:60px">

        <!-- Footer Elements -->
        <div class="container wow fadeInUp">

            <!--Grid row-->
            <div class="row " style="margin-top: 40px">

                <!--Grid column-->
                <div class="col-lg-2 col-md-12 mb-4">

                    <!--Image-->
                    <div class="view overlay z-depth-1-half">
                        <img src="img/d3.jpg" class="img-fluid"
                             alt="">
                        <a href="">
                            <div class="mask rgba-white-light"></div>
                        </a>
                    </div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-2 col-md-6 mb-4">

                    <!--Image-->
                    <div class="view overlay z-depth-1-half">
                        <img src="img/cloth.jpg" class="img-fluid"
                             alt="">
                        <a href="">
                            <div class="mask rgba-white-light"></div>
                        </a>
                    </div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-2 col-md-6 mb-4">

                    <!--Image-->
                    <div class="view overlay z-depth-1-half">
                        <img src="img/new4.jpg" class="img-fluid"
                             alt="">
                        <a href="">
                            <div class="mask rgba-white-light"></div>
                        </a>
                    </div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-2 col-md-12 mb-4">

                    <!--Image-->
                    <div class="view overlay z-depth-1-half">
                        <img src="img/p2.jpg" class="img-fluid"
                             alt="">
                        <a href="">
                            <div class="mask rgba-white-light"></div>
                        </a>
                    </div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-2 col-md-6 mb-4">

                    <!--Image-->
                    <div class="view overlay z-depth-1-half">
                        <img src="img/men11.jpg" class="img-fluid"
                             alt="">
                        <a href="">
                            <div class="mask rgba-white-light"></div>
                        </a>
                    </div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-2 col-md-6 mb-4">

                    <!--Image-->
                    <div class="view overlay z-depth-1-half">
                        <img src="img/p2.jpg" class="img-fluid"
                             alt="">
                        <a href="">
                            <div class="mask rgba-white-light"></div>
                        </a>
                    </div>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </div>
        <!-- Footer Elements -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://mdbootstrap.com/">ATC TEAM</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->


<!-- End your project here-->

