
<div class="animated {{hidethis}}" style="display: {{disp}}">
<md-dialog aria-label="Mango (Fruit)" style="width: 600px;height: 61%; text-align: center" id="close">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 style="text-align: center">
                    Product Description

                </h2>
                <span flex></span>
                <md-button class="md-icon-button openFrom" ng-click="cancel()">
                    <md-icon md-svg-src="img/2.jpg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content row" style="margin-top: -23px;margin-right: 20px">
                <div class="col-4">
                    <div  style="margin-top: 10px" id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" >
                            <div class="carousel-item  {{$event.preventDefault();actives==0? 'active':''}}">
                                <img style="padding: 5px;width:100%;height:250px" class="d-block w-100"  ng-src="{{selected.img}}"
                                     alt="First slide">
                            </div>
                            <div class="carousel-item {{$event.preventDefault();actives==1? 'active':''}}">
                                <img style="margin: auto; padding: 5px;width:100%;height:250px" class="d-block w-100"  ng-src="{{selected.img1}}"
                                     alt="Second slide">
                            </div>
                            <div class="carousel-item {{$event.preventDefault();actives==2? 'active':''}}">
                                <img style="margin: auto; padding: 5px;width:100%;height:250px" class="d-block w-100"  ng-src="{{selected.img}}"
                                     alt="Third slide">
                            </div>
                        </div>
                        <a ng-click="$event.preventDefault();" class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a ng-click="$event.preventDefault();" class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>    <!-- Footer -->
                 </div>



                <div class="col-8">
                    <table class="table">
                        <thead class="row" style="background-color:tomato;text-align: center; font-weight: bolder; font-size: 50px">
                        <tr style="" >
                            <th scope="col" class="col-2">NAME</th>
                            <th scope="col" class="col-2">PRICE</th>
                            <th scope="col" class="col-2">Quantity</th>
                            <th scope="col" class="col-6">Descriptions</th>
                        </tr>
                        </thead>
                        <tbody class="row"  style="background-color:#dcdcdc;text-align: center; font-weight: bolder; font-size: 40px">
                        <tr style="">
                            <td class="col-2" style="text-align: left;font-weight: bolder" >{{selected.name}}</td>
                            <td class="col-2" style="text-align: left;font-weight: bolder">{{selected.price}}</td>
                            <td class="col-2" style="text-align: left;font-weight: bolder">{{selected.quan}}</td>
                            <td class="col-6" style="text-align: left;font-weight: bolder">{{selected.desc}}</td>

                        </tr>

                        </tbody>
                    </table>


                </div>

                <md-button ng-model="ctrl.closeTo" value="corner" class="md-primary md-raised" ng-click="Cart()" style="display: inline; background-color: #360eff;margin-top: -13px;margin-left: 50%">Order Now</md-button>
            </div>
            <md-dialog>
            </md-dialog>
        </md-dialog-content>
    </form>
</md-dialog>
</div>
